body {
  background-image: linear-gradient(to right, blue 10%, lightblue 90%);
  /* background-color: black; */
}

.giphy-header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  align-items: center;
}

.giphy-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.search-gifs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

input {
  align-content: center;
  align-items: center;
}

.datacontent {
  /* border: 2px solid red; */
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  margin: 10px;
}

.imageBox {
  border: 1px solid lightgray;
  margin: 10px;
  width: 200px;
  height: 200px;
}
